nav a:hover {
  /* text-shadow: 1px 1px 8px rgba(150, 150, 150, 0.8); */
  background-color: lightcyan;
  text-shadow: 1px 1px 8px darkgray;
}

nav .active {
  /* background-color: lightcyan; */
  font-weight: bold;
}

/* .navlink:hover {
  background-color:lightblue;
  color: white !important;
} */

/* .navlink:active {
  color: black !important;
} */

/* .tab {
  width: 100%;
  padding: 20px 0;
  background: lightblue;
  color: white;
  overflow: hidden;
  text-align: center;
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.tab:hover,
.tab:active {
  background: aqua;
} */